In [1]:
import torch 
import torch.nn as nn

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../../Data/NYCTaxiFares.csv')

In [3]:
df.head()

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-04-19 08:17:56 UTC,6.5,0,-73.992365,40.730521,-73.975499,40.744746,1
1,2010-04-17 15:43:53 UTC,6.9,0,-73.990078,40.740558,-73.974232,40.744114,1
2,2010-04-17 11:23:26 UTC,10.1,1,-73.994149,40.751118,-73.960064,40.766235,2
3,2010-04-11 21:25:03 UTC,8.9,0,-73.990485,40.756422,-73.971205,40.748192,1
4,2010-04-17 02:19:01 UTC,19.7,1,-73.990976,40.734202,-73.905956,40.743115,1

In [4]:
df['fare_amount'].describe()

count    120000.000000
mean         10.040326
std           7.500134
min           2.500000
25%           5.700000
50%           7.700000
75%          11.300000
max          49.900000
Name: fare_amount, dtype: float64

# Feature eng...

In [5]:
def haversine_distance(df,lat1, long1, lat2, long2):


    '''
    Calculates the haversine distance between 2 sets of GPS coordinates in df
    '''
    r = 6371 #average radius of Earth in kilometers
    
    phi1 = np.radians(df[lat1])
    phi2 = np.radians(df[lat2])
    
    delta_phi = np.radians(df[lat2]-df[lat1])
    delta_lambda = np.radians(df[long2]-df[long1])
    
    a = np.sin(delta_phi/2)**2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = (r * c) # in kilometers
    
    return d

In [6]:
df['dist_km'] = haversine_distance(df,'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude')
df.head()

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dist_km
0,2010-04-19 08:17:56 UTC,6.5,0,-73.992365,40.730521,-73.975499,40.744746,1,2.126312
1,2010-04-17 15:43:53 UTC,6.9,0,-73.990078,40.740558,-73.974232,40.744114,1,1.392307
2,2010-04-17 11:23:26 UTC,10.1,1,-73.994149,40.751118,-73.960064,40.766235,2,3.326763
3,2010-04-11 21:25:03 UTC,8.9,0,-73.990485,40.756422,-73.971205,40.748192,1,1.864129
4,2010-04-17 02:19:01 UTC,19.7,1,-73.990976,40.734202,-73.905956,40.743115,1,7.231321

## Add a datetime column and derive useful statistics

In [7]:
df['EDTdate'] = pd.to_datetime(df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S' ,infer_datetime_format=True)

In [8]:
df['EDTdate'] = df['EDTdate'].dt.tz_convert('US/Eastern')
df['Hour'] = df['EDTdate'].dt.hour
df['AMorPM'] = np.where(df['Hour']<12,'am','pm')
df['Weekday'] = df['EDTdate'].dt.strftime("%a")

In [9]:
df.head()

,pickup_datetime,fare_amount,fare_class,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,dist_km,EDTdate,Hour,AMorPM,Weekday
0,2010-04-19 08:17:56 UTC,6.5,0,-73.992365,40.730521,-73.975499,40.744746,1,2.126312,2010-04-19 04:17:56-04:00,4,am,Mon
1,2010-04-17 15:43:53 UTC,6.9,0,-73.990078,40.740558,-73.974232,40.744114,1,1.392307,2010-04-17 11:43:53-04:00,11,am,Sat
2,2010-04-17 11:23:26 UTC,10.1,1,-73.994149,40.751118,-73.960064,40.766235,2,3.326763,2010-04-17 07:23:26-04:00,7,am,Sat
3,2010-04-11 21:25:03 UTC,8.9,0,-73.990485,40.756422,-73.971205,40.748192,1,1.864129,2010-04-11 17:25:03-04:00,17,pm,Sun
4,2010-04-17 02:19:01 UTC,19.7,1,-73.990976,40.734202,-73.905956,40.743115,1,7.231321,2010-04-16 22:19:01-04:00,22,pm,Fri

# Disinguishing cat(Nominal) and continous var

we will use  pytorch embeddings to do one hot encoding. Incase you are thinking of why not one hot

In [10]:
cat_cols = ['Hour','AMorPM','Weekday']
cont_cols = ['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','dist_km']

In [11]:
y_col = ['fare_amount']

In [12]:
for cat in cat_cols:
    df[cat] = df[cat].astype('category')

In [13]:
df.dtypes

pickup_datetime                          object
fare_amount                             float64
fare_class                                int64
pickup_longitude                        float64
pickup_latitude                         float64
dropoff_longitude                       float64
dropoff_latitude                        float64
passenger_count                           int64
dist_km                                 float64
EDTdate              datetime64[ns, US/Eastern]
Hour                                   category
AMorPM                                 category
Weekday                                category
dtype: object

In [14]:
df['Hour'].head()

0     4
1    11
2     7
3    17
4    22
Name: Hour, dtype: category
Categories (24, int64): [0, 1, 2, 3, ..., 20, 21, 22, 23]

In [15]:
df['Weekday'].head()

0    Mon
1    Sat
2    Sat
3    Sun
4    Fri
Name: Weekday, dtype: category
Categories (7, object): ['Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed']

In [16]:
df['Weekday'].cat.codes

0         1
1         2
2         2
3         3
4         0
         ..
119995    3
119996    0
119997    3
119998    5
119999    2
Length: 120000, dtype: int8

In [17]:
df['Weekday'].cat.codes

0         1
1         2
2         2
3         3
4         0
         ..
119995    3
119996    0
119997    3
119998    5
119999    2
Length: 120000, dtype: int8

In [18]:
#numpy array
df['Weekday'].cat.codes.values

array([1, 2, 2, ..., 3, 5, 2], dtype=int8)

In [19]:
hr = df['Hour'].cat.codes.values
ampm = df['AMorPM'].cat.codes.values
wkdy = df['Weekday'].cat.codes.values

In [20]:
cats = np.stack([hr,ampm,wkdy],axis=1)

In [21]:
cats

array([[ 4,  0,  1],
       [11,  0,  2],
       [ 7,  0,  2],
       ...,
       [14,  1,  3],
       [ 4,  0,  5],
       [12,  1,  2]], dtype=int8)

In [22]:
#one line for what we did is
cats = np.stack([df[col].cat.codes.values for col in cat_cols],1)

In [23]:
cats

array([[ 4,  0,  1],
       [11,  0,  2],
       [ 7,  0,  2],
       ...,
       [14,  1,  3],
       [ 4,  0,  5],
       [12,  1,  2]], dtype=int8)

In [24]:
cats = torch.tensor(cats, dtype=torch.int64)

In [25]:
conts = np.stack([df[cols].values for cols in cont_cols],axis=1)

In [26]:
conts = torch.tensor(conts, dtype=torch.float)

In [27]:
y = torch.tensor(df[y_col].values,dtype=torch.float)#make sure shape i s(m,1) i.e column vector

In [28]:
cats.shape

torch.Size([120000, 3])

In [29]:
conts.shape

torch.Size([120000, 6])

In [30]:
y.shape

torch.Size([120000, 1])

### Using embedding layers

* Here we do one hot encodings

In [31]:
cat_sizes = [len(df[col].cat.categories) for col in cat_cols]

In [32]:
list(zip(cat_cols,cat_sizes))

[('Hour', 24), ('AMorPM', 2), ('Weekday', 7)]

In [33]:
emb_szs = [(size,min(50,size+1)//2) for size in cat_sizes]

In [34]:
emb_szs

[(24, 12), (2, 1), (7, 4)]

# Full model

How embeddings work.
*  walkthrough on first 5 rows

In [35]:
cat_dummy = cats[:5]

In [36]:
cat_dummy

tensor([[ 4,  0,  1],
        [11,  0,  2],
        [ 7,  0,  2],
        [17,  1,  3],
        [22,  1,  0]])

In [37]:
list(zip(cat_cols,cat_sizes))

[('Hour', 24), ('AMorPM', 2), ('Weekday', 7)]

In [38]:
[nn.Embedding(ni,nf) for ni,nf in emb_szs]

[Embedding(24, 12), Embedding(2, 1), Embedding(7, 4)]

In [39]:
#part of forward method
selfembeds = nn.ModuleList([nn.Embedding(ni,nf) for ni,nf in emb_szs])

In [40]:
selfembeds

ModuleList(
  (0): Embedding(24, 12)
  (1): Embedding(2, 1)
  (2): Embedding(7, 4)
)

In [41]:
embeddingz = []
for i,e in enumerate(selfembeds):
    embeddingz.append(e(cat_dummy[:,i]))

In [42]:
embeddingz

[tensor([[-0.0099,  2.1081, -0.3449,  0.0157, -0.6134, -0.4468, -0.2081, -0.9935,
          -1.4102,  1.2612, -0.5315,  1.0272],
         [ 0.1864, -0.3286, -1.5142,  0.9716, -2.0130,  1.6936,  0.2642,  0.0587,
          -1.8423,  0.9034,  0.5953, -0.2455],
         [ 0.2100,  0.4958,  0.4505, -0.8544, -1.1846,  1.2074, -0.7880,  1.2714,
           0.9608,  0.1988, -1.1451, -0.1656],
         [-1.1580,  0.4702,  0.0442, -0.5217, -1.0773, -0.8127,  0.0878,  1.2420,
           0.5959, -0.8787, -0.9985,  0.8298],
         [-1.6144, -2.0590, -0.5502,  0.4280, -0.1891, -0.6677, -0.7733,  0.2619,
          -0.2798, -0.4935, -0.7826,  0.6454]], grad_fn=<EmbeddingBackward0>),
 tensor([[ 0.4802],
         [ 0.4802],
         [ 0.4802],
         [-1.4262],
         [-1.4262]], grad_fn=<EmbeddingBackward0>),
 tensor([[ 1.4957, -0.1553,  0.1343, -0.9019],
         [-0.6002,  1.2744, -0.6830,  0.6717],
         [-0.6002,  1.2744, -0.6830,  0.6717],
         [ 1.5997, -0.4464,  0.2442,  1.0775],
         [-0.1639,  0.4013, -0.1351, -1.6054]], grad_fn=<EmbeddingBackward0>)]

In [43]:
cat_dummy

tensor([[ 4,  0,  1],
        [11,  0,  2],
        [ 7,  0,  2],
        [17,  1,  3],
        [22,  1,  0]])

In [44]:
#finally pass it to a dropout layer

In [48]:
[*[1,2,3,*[1,3]]]

[1, 2, 3, 1, 3]